<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link href="static/css/style_sign.css" rel='stylesheet' type='text/css' />

</head>
<body>
	<h1> <br/>用户登录 </h1>
<div class="main-content">
	<div class="sap_tabs">
		<div class="facts">
			<div class="register">
				<form method="post">
					<input placeholder="手机号" type="text" name="email" required="">
					<input placeholder="密码" type="password" name="password" required=""><br>
					<p><label style="color: #fff;font-size: 16px;font-weight:600;"><input id="remember" type="checkbox">记住密码</label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="find_password">忘记密码</a></p>
						<div class="confirm">
							<input type="submit" value="登录"/>
						</div>
				</form>
			</div>
		</div>
    </div>
</div>
<!--start-copyright-->
   		<div class="copy-right">
   			<div class="wrap">
				<p>如果你还没有申请账户，请先前往<a href="signup">注册</a></p>
			</div>
		</div>
<!--//end-copyright-->
</body>
</html>