<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改个人信息</title>
    <link href="static/css/style_sign.css" rel='stylesheet' type='text/css' />

</head>
<body>
	<h1> <br/>修改个人信息</h1>
<div class="main-content">
	<div class="sap_tabs">
		<div class="facts">
			<div class="register">
				<form>
					<input placeholder="呢称" type="text" required="">
					<input placeholder="电子邮箱" type="password" required="">
					<input placeholder="性别" type="password" required="">
					<input placeholder="手机" type="password" required="">
                    <div class="confirm" ><input placeholder="验证码" type="password" required="" style="width: 50%;">&emsp;&emsp;<input style="width: 24%; height: 50%;" type="submit" value="获取验证码"/></div>
						<div class="confirm">
							<input type="submit" value="确认修改"/>
						</div>
				</form>
			</div>
		</div>
    </div>
</div>
<!--start-copyright-->
   		<div class="copy-right">
   			<div class="wrap">
				<p>如果你已经拥有了一个账户，请直接<a href="signin">登录</a></p>
			</div>
		</div>
<!--//end-copyright-->
</body>
</html>